.landing-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1140px;
    margin: 0 auto;
}

.landing-weather {
    display: flex;
    margin-top: 20px;
    // align-items: center;
    // border: 1px solid red;

    .weather-p {
        font-size: 26px;
        margin-left: 10px;
    }
}

.col-left {
    width: 68%;
}

.col-right {
    width: 30%;
    margin-left: 2%;
}

.recents-box {
    display: flex;
    flex-wrap: wrap;
    // width: 60%;
    justify-content: space-between;
    border-bottom: 1px solid #EEEEEE;
    margin-top: 20px;
}

.recents-box-alt {
    display: flex;
    flex-wrap: wrap;
    // width: 60%;
    justify-content: space-between;
    margin-top: 20px;
}


.landing-columns {
    // width: 72%;
    display: flex;
}

.landing-bottom {
    background: #000;
}

.afront {
    max-width: 1140px;
    margin: 0 auto;
    color: #FFF;
}