.landing-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1140px;
    margin: 0 auto;
}

.landing-weather {
    display: flex;
    margin-top: 20px;

    .weather-p {
        font-size: 26px;
        margin-left: 10px;
    }
}

.col-left {
    width: 68%;
}

.col-right {
    width: 30%;
    margin-left: 2%;
}

.recents-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid #EEEEEE;
    margin-top: 20px;
}

.recents-box-alt {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}


.landing-columns {
    display: flex;
}

.landing-bottom {
    background: #000;
}

.afront {
    max-width: 1140px;
    margin: 0 auto;
    color: #FFF;
}

.landing-entertainment {
    margin-left: 30px;
}

@media(max-width: 768px) {
    .col-left, .col-right {
        width: 100%;
        margin-left: 0px;
    }

    .landing-entertainment {
        margin-left: 0;
    }

    .landing-columns {
        width: 100%;
        display: block;
    }
}