.recents-box {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: space-between;
    border-bottom: 1px solid #EEEEEE;
    margin-top: 20px;
}

.landing-columns {
    width: 82%;
    display: flex;
}