.mediabox-alt-wrapper {
    display: flex;
    flex-direction: column;
    width: 330px;
}

.mediabox-alt-header {
    span {
        height: 30px;
        display: flex;
        align-items: center;
        p {
            margin-left: 10px;
            margin-bottom: 0;
            font-size: 1.4if em;
            color: #acaaaa;
        }
    }
}

.mediabox-alt-content {
    display: flex;
    margin-top: 15px;
    padding-bottom: 20px;
    p {
        margin-bottom: 50px;
    }

    img {
        width: 40%;
        margin-right: 20px;
    }

    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 20px;
}

.mediabox-alt-footer {
    display: flex;
    justify-content: space-between;
    color: #acaaaa;
    text-transform: uppercase;
    margin-bottom: 30px;
}
