.mediabox-wrapper {
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    width: 330px;
}

.mediabox-header {
    // border: 1px solid blue;
    img {
        width: 100%;
        height: 100%;
    }

    .mediabox-overlay {
        position: relative;
        top: -1.7em;
        left: 1em;
        z-index: 2;
    }
}

.mediabox-content {
    span {
        height: 30px;
        display: flex;
        align-items: center;
        p {
            margin-left: 10px;
            margin-bottom: 0;
            font-size: 1.4if em;
            color: #ACAAAA;
        }
    }

    p {
        margin-bottom: 50px;
    }
}

.mediabox-footer {
    display: flex;
    justify-content: space-between;
    color: #ACAAAA;
    text-transform: uppercase;
    margin-bottom: 30px;
}

@media(max-width: 768px) {
    .mediabox-wrapper {
        width: 100% !important;
    }
}