@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

$thm-blue: #387780;
$thm-red: #FF5666;
$thm-cello: #1d3557;

$thm-haiti: #0b132b;
$thm-burst: #1c2541;
$thm-fiord: #3a506b;
$thm-fntblue: #5bc0be;
$thm-aquamarine: #6fffe9;
$thm-mtnmeadow: #19A660;