.article-box-wrapper {
    // border: 1px solid red;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #EEEEEE;
}

@media(max-width: 768px) {
    .article-box-wrapper {
        width: 100%;
    }
}