.article-box-wrapper {
    // border: 1px solid red;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #EEEEEE;
}

.article-box-content {
    display: flex;
    margin-bottom: 20px;


    img {
        // width: 50%;
        margin-right: 10px;
    }
}

@media(max-width: 768px) {
    .article-box-wrapper {
        width: 100%;
    }
}