.headerbox-wrapper {
    background-color: #e4545b;
    height: 48px;
    color: #fff;
    text-transform: uppercase;
    width: 100px;

    p {
        letter-spacing: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}
