.carousel-wrapper {
    position: relative;
    width: 100%;
    background: #000;
    max-height: 475px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    overflow: hidden;
}

.carousel-inner {
    width: 100%;
    height: 100%;
}

.active {
    display: flex !important;
}

.item {
    display: none;
    img {
        width: 100%;
    }
}

.carousel-img-overlay {
    position: absolute;
    color: #000;
    height: 100%;
    top: 0;
    max-height: 475px;
    width: 100%;
    max-width: 1140px;
    display: flex;
    align-items: flex-end;
}

.carousel-center {
    width: 100%;
    height: 100%;
    max-height: 475px;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.carousel-center-top {
    margin-top: 20px;
}

.carousel-center-content {
    h4 {
        font-size: 36px;
        margin-bottom: -0.1em;
        text-shadow: 10px 5px 5px #000;
    }

    p {
        font-size: 36px;
        text-shadow: 10px 5px 5px #000;
    }
}

.carousel-left, .carousel-right {
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover > .right {
        box-shadow: 1px 5px 5px #000;
    }

    &:hover > .left {
        box-shadow: 1px -5px 5px #000;
    }
}