.footer {
    display: flex;
    background-color: #000;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    color: #FFF;
}

.footer-center {
    width: 25%;
    span {
        display: flex;
        justify-content: space-between;
    }
}