@import 'Styles/config';

* {
  font-family: 'Ropa Sans', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  background: #fff;
}